<div class="d-flex">
  <label for="filterText" class="form-label"></label>
  <input [(ngModel)]="filterText" class="form-control me-sm-2 my-2" type="text" placeholder="Ara" />
  <button class="btn btn-dark sm-0 my-2" type="submit">Ara</button>
</div>
<div *ngIf="filterText" class="my-1">Şu an aradığınız ürün <strong>{{filterText}}</strong></div>
<!-- ng-image-slider --RESİMLER GELMEDİ-- -->
<app-image-slider></app-image-slider>

<div *ngFor= "let p of products  | filter:filterText |
              paginate: { itemsPerPage: pageNumber, currentPage: page, totalItems: totalLength }
             " class="card mt-2">
  <img src="assets/img/{{ p.image }}" alt="" class="card-img-top" />
  <div class="card-body">
    <h3 class="card-title">{{ p.name | uppercase }}</h3>
    <h3 class="card-title">{{ p.price | currency }}</h3>
    <h5 class="card-title text-danger">
      KDV'li Fiyatı: {{p.price | kdv:18 | currency}}
    </h5>
    <p class="card-text">{{ p.description }}</p>
    <button  (click)="addToCard(p)" type="button" class="btn btn-dark btn-sm me-2">Sepete Ekle</button>
    <a routerLink="/products/{{p.id}}" class="btn btn-sm btn-info me-2">Detay</a>
    <button (click)="clearCard(p)" type="button" class="btn btn-danger btn-sm  ">Sil</button>
  </div>
</div>
<!-- ngx-pagination -->
<div class="text-center my-pagination mt-4">
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <div class="pagination">
    <button class="btn1" (click)="des()"><i class="fa fa-minus"></i>Daha az göster</button>
    <input class="input" [value]="pageNumber">
    <button class="btn1" (click)="inc()"><i class="fa fa-plus"></i>Daha fazla göster</button>
  </div>
</div>
