<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h3 class="title text-center">Ürün Ekle</h3>
            </div>
            <div class="card-body">
                <form [formGroup]="productAddForm">
                    <div class="mt-3">
                        <div class="form-group">
                            <label for="name">Ürün Adı:</label>
                            <input name="name" formControlName="name"  type="text" id="productName" class="form-control"
                                placeholder="Ürün Adı" />
                            <small class="text-danger" *ngIf="productAddForm.controls['name'].touched && productAddForm.hasError('required','name')">*Ürün adı giriniz.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="form-group">
                            <label for="price">Ürün Fiyatı:</label>
                            <input name="price" formControlName="price" type="number" id="productPrice" class="form-control"
                                placeholder="Ürün Fiyatı" />
                            <small class="text-danger" *ngIf="productAddForm.controls['price'].touched && productAddForm.hasError('required','price')">*Ürün fiyatı giriniz.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="form-group">
                            <label for="description">Ürün Açıklaması:</label>
                            <input name="description" formControlName="description" type="text" id="productDescription" class="form-control"
                                placeholder="Ürün Açıklaması" />
                            <small class="text-danger" *ngIf="productAddForm.controls['description'].touched && productAddForm.hasError('required','description')">*Ürün açıklaması giriniz.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="form-group">
                            <label for="image">Ürün Resmi:</label>
                            <input name="image" formControlName="image" type="text" id="productImageUrl" class="form-control"
                                placeholder="Ürün Resmi" />
                            <small class="text-danger" *ngIf="productAddForm.controls['image'].touched && productAddForm.hasError('required','image')">*Ürün resmi giriniz.</small>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label for="categoryId">Ürün Kategorisi:</label>
                        <select class="form-select form-select-sm" name="categoryId" formControlName="categoryId" type="text" id="productCategoryId"
                            class="form-control" placeholder="Ürün Kategorisi">
                            <option value="">Seçiniz</option>
                            <option *ngFor= "let c of categories" [value]="c.id">{{c.name}}</option>
                        </select>
                        <small class="text-danger" *ngIf="productAddForm.controls['categoryId'].touched && productAddForm.hasError('required','categoryId')">*Ürün kategorisi giriniz.</small>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button  [disabled]="productAddForm.invalid" (click)="addProduct()" class="btn btn-fill btn-dark">Ekle</button>
            </div>
        </div>
    </div>
</div>